absl-py
ftfy
gdown
gym
hydra-core==1.1.2
imageio==2.27
imageio-ffmpeg
kornia
matplotlib
meshcat
numpy
opencv-python
pybullet
pytorch_lightning
regex
scikit-image
scipy
tdqm
torch
torchvision
transformers
transforms3d
urllib3==1.26.15
wandb
