absl-py
ftfy
gdown==3.13.1
gym==0.17.3
hydra-core==1.1.2
imageio==2.27
imageio-ffmpeg==0.4.5
kornia==0.4.1
matplotlib
meshcat==0.0.18
numpy
opencv-python
pybullet==3.0.4
pytorch_lightning
regex
scikit-image
scipy
tdqm
torch
torchvision
transformers==4.25.1
transforms3d==0.4.1
urllib3==1.26.15
wandb
